.cart.title {
  margin: 1rem 2rem;
  font-size: 1.5rem;
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
}

.cart.container.products {
  flex-basis: 300px;
  flex-grow: 3;
  margin: 0 1rem;
  max-width: unset;
}

.cart.info.container {
  flex-basis: 300px;
  flex-grow: 1;
  margin: 0 1rem;
}

.cart.info .submit-cart {
  border-radius: 6px;
  font-size: 1.2rem;
  border: unset;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
}
