.card-product-admin {
  border-radius: 15px;
  background-color: var(--light-grey);
  margin: 1rem;
  padding: 0 !important;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.image-product-admin {
  transform: scale(0.75);
}

.product-details-container {
  background-color: white;
  border-radius: 15px;
  height: 30%;
  text-align: center;
  padding: 2.5% 0;
}

.product-details-container p {
  font-family: "Roboto";
  color: var(--dark-grey);
  font-size: 1.2rem;
}

.product-details-container p span {
  font-weight: bold;
}
