.card-order-dashboard{
  border-radius: 5px;
  box-shadow: 0 2px 8px var(--grey);
  margin: 1rem 0;
  padding: 2rem;
  padding-bottom: 1rem;
}

.card-order-dashboard .col, .card-order-dashboard .col > b{
  font-family: 'Poppins';
}

.order-status {
  margin: 0;
  display: flex;
  align-items: center;
}

.order-status .badge{
  padding: 5px 15px;
}

.order-status .badge.status-yellow{
  background-color: #fff0bd;
  color: #615c16;
  border: 1px solid #e0ca7e;
}

.order-status .badge.status-red{
  background-color: #fcc3c7;
  color: #72232a;
  border: 1px solid #e6888e;
}

.order-status .badge.status-green{
  background-color: #aef8d7;
  color: #2d5341;
  border: 1px solid #56c090;
}

.order-status .badge.status-blue{
  background-color: #b1f1ff;
  color: #306d79;
  border: 1px solid #7db9c7;
}

.card-order-page-dashboard{
  border-radius: 5px;
  box-shadow: 0 2px 8px var(--grey);
  margin-bottom: 1rem;
  padding: 2rem;
  padding-bottom: 1rem;
}

.card-order-page-dashboard .col{
  margin-bottom: 1rem;
}

.card-order-page-dashboard.products .col{
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.order-value-total-dashboard{
  font-size: 1.3rem;
  font-weight: bold;
}

.image-order-dashboard{
  max-height: 60px;
  width: 60px;
  align-self: center;
  border-radius: 50%;
  transform: scale(0.8);
  object-fit: cover;
}

.old-price-order-dashboard{
  opacity: 0.5;
  text-decoration: line-through;
  margin-right: 10px;
}

.products-order-dashboard{
  justify-content: center;
  align-items: center;
}

.products-order-dashboard .col:last-child {
  display: flex;
  justify-content: flex-end;
}
