.order-page-admin.nav {
  margin-top: 1rem;
  max-width: 900px;
  align-self: center;
  background-color: var(--white);
}

.order-page-admin.nav .nav-item a {
  color: var(--orange);
}

.order-page-admin.nav .nav-item .active {
  border: none;
  background-color: var(--white);
  color: var(--dark-grey);
  cursor: default;
}

.order-page-admin.container {
  display: flex;
  min-height: 75%;
  max-width: 900px;
  min-width: 450px;
  align-self: center;
  border: 0.1rem solid var(--light-grey);
  border-radius: 5px;
  padding: 1rem;
}

.order-page-admin.info.container,
.order-page-admin.shipping.container {
  display: flex;
  flex-wrap: wrap;
  border: none;
  max-width: 750px;
  padding: 0;
}

.order-page-admin.label {
  flex-basis: 300px;
  flex-grow: 1;
  line-height: 2rem;
  padding: 0;
  margin: 0.5rem;
}

.order-page-admin.control {
  flex-basis: 300px;
  flex-grow: 3;
  text-align: right;
  line-height: 2rem;
  font-weight: bold;
  padding: 0 0.5rem;
  margin: 0;
}

.order-page-admin.control.address {
  height: 6rem;
  line-height: 1.2rem;
  padding: 0.3rem;
  resize: none;
}

@media screen and (max-width: 768px) {
  .order-page-admin.container {
    min-width: 300px;
  }

  .order-page-admin.label {
    flex-basis: 200px;
    max-width: 85%;
  }

  .order-page-admin.control {
    flex-basis: 200px;
    max-width: 85%;
    text-align: left;
    margin: 0 0.5rem;
  }

  .order-page-admin.nav .nav-item .active {
    border: none;
  }
}
