.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--black);
}

.not-found-text{
  color: var(--orange);
  font-weight: 700;
}
