.card-address-dashboard{
  border-radius: 5px;
  box-shadow: 0 2px 8px var(--grey);
  margin: 1rem 0;
  padding: 2rem;
  padding-bottom: 1rem;
}

.card-address-dashboard .col{
  margin-bottom: 1rem;
  font-family: 'Poppins';
}

.edit-address-dashboard.col{
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
