.table-cards{
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table.table-cards tr {
  text-align: center;
}

.table.table-cards tbody tr {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 8px var(--grey);
  padding: 2rem;
  margin-bottom: 2rem;
}

.table.table-cards td{
  padding: 2rem;
  font-family: 'Poppins';
}
