.admin-main {
  background-color: var(--white);
  min-height: 100vh;
}

.admin-main-content {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.admin-sidebar-toggle,
.admin-sidebar-toggle.disabled {
  display: none;
}

@media screen and (max-width: 768px) {
  .admin-sidebar-toggle {
    display: block;
    margin: 1rem 2.5rem;
    cursor: pointer;
    color: var(--dark-grey);
  }
}
