.products-container.container {
  /* max-width: 80%; */
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.products-container .category-info {
  margin: 1rem 0;
  color: var(--dark-grey);
}
