.products-container.container {
  max-width: 80%;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.products-container .category-info {
  margin: 1rem 0;
  color: var(--dark-grey);
}

.products-container .category-actions {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: right;
}

.category-actions select {
  width: auto;
  max-width: 250px;
  background-color: transparent;
  border: 1px solid var(--dark-grey);
  border-radius: 6px;
  color: var(--dark-grey);
}
