.report-admin.cards {
  flex-basis: 300px;
  flex-grow: 1;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.report-admin.card {
  flex-basis: 200px;
  flex-grow: 1;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  text-align: center;
  background-color: transparent;
}

.report-admin.card p {
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  color: var(--dark-grey);
}

.report-admin.card span {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
}
