.month-card.admin {
  display: flex;
  flex-basis: 250px;
  justify-content: space-between;
  height: 50px;
  padding: 0.5rem 1rem;
  background-color: var(--base);
  border: 1px solid var(--dark-grey);
  border-radius: 15px;
  text-decoration: none;
  color: var(--dark-grey);
  transition: all 0.2s linear;
}

.month-card.admin:hover {
  color: var(--orange);
  border-color: var(--orange);
}

.month-card.admin-icon {
  height: 2rem;
}

.month-card.admin-text {
  font-size: 1.5rem;
  line-height: 2rem;
}
