/* Cores */
:root {
  --black: #202020;
  --dark-grey: #333533;
  --orange: #fca311;
  --yellow: #f7ca00;
  --grey: #929292;
  --light-grey: #c4c4c4;
  --white: #e5e5e5;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

/* Reset do CSS */
* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

*:not(.form-control, .btn):focus-visible {
  outline: 2px outset var(--orange) !important;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--grey) var(--white);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: var(--white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 5px;
}

.form-control:focus {
  border-color: var(--orange);
  box-shadow: 0 0 0 0.1rem var(--orange);
}
