/* Cores */
:root {
  --black: #202020;
  --dark-grey: #333533;
  --orange: #FCA311;
  --yellow: #F7CA00;
  --light-grey: #C4C4C4;
  --white: #E5E5E5;
}

@font-face {
  font-family: "Roboto";
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: "Poppins";
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

/* Reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
