.product-list.admin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 75%;
  max-width: 900px;
  min-width: 450px;
  align-self: center;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .product-list.admin {
    min-width: 300px;
  }
}
