.product-list.admin {
  display: grid;
  max-width: 100%;
  height: 80%;
  margin: 2rem;
  gap: 5%;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(2, 45%);
}

@media screen and (max-width: 768px) {
  .product-list.admin {
    grid-template-rows: repeat(3, 30%);
    grid-template-columns: repeat(2, 45%);
    min-height: 100%;
  }
}
