.nav-dashboard.nav{
  justify-content: center;
}

.nav-link-dashboard.nav-link{
  color: var(--black);
  font-family: 'Poppins';
  margin: 0 2rem;
  padding: 0.5rem 1.5rem;
}

.nav-link-dashboard:hover {
  color: var(--grey);
}

.nav-link-dashboard.active{
  background-color: var(--light-grey);
  font-weight: 600;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
}

.nav-link-dashboard.active:hover{
  color: var(--black);
}
