.admin-sidebar {
    flex-direction: column;
    height: 100vh;
    background-color: var(--dark-grey);
    font-family: "Roboto";
}

.admin-sidebar.wide {
    padding-left: 0;
    padding-right: 0;
    width: auto;
}

.admin-sidebar-logo {
    width: 8rem;
    height: auto;
    align-self: center;
    margin: 1.5rem 0;
}
.admin-sidebar-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    margin: .5rem 0;
}
.admin-sidebar-user-avatar {
    width: auto;
    height: 2.5rem;
    padding: .5rem 1rem;
}
.admin-sidebar-user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
    padding: .5rem 1rem;
}
.admin-sidebar-user-info p {
    margin-bottom: 0;
    font-size: 0.8rem;
}
.admin-sidebar-user-info-name {
    font-weight: bold;
}
.admin-sidebar-user svg {
    color: var(--white);
}
.admin-sidebar-separador {
    padding: 5% 0;
    background-color: var(--black);
    color: var(--white);
    font-size: 0.8rem;
    margin: 5% 0;
    text-align: center;
}
.admin-sidebar-link.nav-link {
    color: var(--white);
    padding: .5rem 1.5rem;
    font-size: 1rem;
}
.admin-sidebar-link.nav-link:hover {
    color: var(--white);
    text-decoration: underline !important;
}
.admin-sidebar-link.nav-link.selected {
    border-left: 3px solid var(--orange);
}

.admin-sidebar-close {
  display: none;
}

@media screen and (max-width: 720px) {
  .admin-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .admin-sidebar.disabled {
    display: none;
  }

  .admin-sidebar-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    margin: 1.5rem 0;
  }

  .admin-sidebar-close svg {
    color: var(--white);
    cursor: pointer;
  }

}

