.admin-main {
    background-color: var(--white);
    height: 100vh;
}

.admin-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.admin-main-content-logo {
    width: 50%;
    height: auto;
}

.admin-sidebar-toggle {
  display: none;
}

@media screen and (max-width: 768px){
  .admin-sidebar-toggle {
    display: block;
    margin: 1rem 2.5rem;
    cursor: pointer;
    color: var(--dark-grey);
  }
}
